.entity-card {
  background: @background;
  color: @text-color;

  .local {
    // image specific to this component
    background-image: url(photo.jpg);
    background-repeat: no-repeat;
  }

  .shared {
    // shared image
    background-image: url(../../images/logoipsum.png);
    background-repeat: no-repeat;
  }
}
