.paragraph-cards {
  h1 {
    // node_modules
    background-image: svg-load(
      '@fortawesome/fontawesome-free/svgs/solid/lightbulb.svg',
      fill= @dark-purple
    );
  }

  h2 {
    // local
    background-image: svg-load('calendar.svg', fill= @dark-orange);
  }

  h3 {
    // shared images
    background-image: svg-load('compass.svg', fill= @dark-teal);
  }
}
