{{ attach_library('webpack-minimal/paragraph-cards') }}

{%
  set config = [
    'paragraph',
    'paragraph-cards',
  ]
%}

<div{{ attributes.setAttribute('class', config) }}>

    {{ heading }}
    {{ rows }}

</div>
